.Layout {
    width: 90%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FCC93C;
    height: 50px;
    margin-bottom: 10px;
}

.Layout-all-categories {
    background-color: #215330;
    border: none;
    width: 150px;
    height: 40px;
    margin: 0 10px;
    border-radius: 2px;
    cursor: pointer;
    color: #FCC93C ;
    font-size: 15px;
    letter-spacing: 2px;
}

.Loading {
    height: 100vh;
    color: #FCC93C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fa-heart {
    color: #D93A3B;
}

.social-icons {
    display: flex;
    list-style: none;
}

.social-icons  > li {
    margin: 5px;
}

.fab {
    color: #24292E;
} 