.Layout {
    width: 90%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FCC93C;
    height: 50px;
    margin-bottom: 10px;
}

